# Constructor or __init__ methods in python

In [ ]:
__init__ means initilization.

What is __init__?
-> It is special method which execute as soon as object created
-> This method can have 1 or more than 1 arg
-> Default arguement will be self.
-> By default every class has __init__ method
-> If we won't define it is there

Syntax:
    class ClassName():
        def __init__(self):
            print("I am in init method")

In [1]:
class StudentDetails:
    def __init__(self):
        print("This will execute As soon as object is created\n I am in __init__ method ")
        
    def showdata(self):
        print("I am in showdata method")

In [2]:
t1=StudentDetails()

This will execute As soon as object is created
 I am in __init__ method

In [3]:
t1.showdata()

I am in showdata method

In [19]:
class StudentDetails:
    def __init__(self,name,course):
        self.name=name
        self.course=course
        print("Once object create this will execute\nI am in __init__ method")
        
    def showdata(self):
        
        print("name:- %s and course:- %s"%(self.name,self.course))

In [20]:
s1=StudentDetails("Vikas","Python")

Once object create this will execute
I am in __init__ method

In [21]:
s1.showdata()

name:- Vikas and course:- Python

In [30]:
class Test5:
    def printname(self):
        self.name="vikas"
        
    def showdata(self):
        print("my name is",self.name)

In [31]:
p=Test5()

In [33]:
p.printname()

In [34]:
p.showdata()

my name is vikas

In [35]:
print(dir(p))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'name', 'printname', 'showdata']

In [10]:
class Details:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def confing(self):
        print("name=%s and age =%s"%(self.name,self.age))
        
c1=Details("Vikas",24)
c1.confing()
c2=Details("Ganesh",30)
c2.confing()

name=Vikas and age =24
name=Ganesh and age =30

# Compare the age of two different objects

In [17]:
class Details:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def confing(self):
        print("name=%s and age =%s"%(self.name,self.age))
        
    def compare(self,other):
        if self.age==other.age:
            return "same Age"
        else:
            return "Different Age"
        
  # c1 and c2 are two objects:      
c1=Details("Vikas",24)
c1.confing()
c2=Details("Ganesh",30)
c2.confing()

name=Vikas and age =24
name=Ganesh and age =30

In [18]:
c1.compare(c2)

'Different Age'

In [19]:
c2.age

30

In [20]:
c2.age=24

In [21]:
c2.age

24

In [22]:
c1.compare(c2)

'same Age'

In [23]:
c1.confing()

name=Vikas and age =24

In [25]:
c2.confing()

name=Ganesh and age =24

- two variable

1] Instance veriable or object variable
2]class variable or static variable

In [33]:
class Car:
    wheels=4  # this is class veriable
    
    def __init__(self):
        self.name="BMW"
        self.milege=10
        
# s1,s2 is instance or object veriable  

s1=Car()  
print("Name:", s1.name," Milege:", s1.milege," Wheels:" ,s1.wheels)

s2=Car()
s2.name="Rolls Royes"
s2.milege=20
print(s2.name,s2.milege,s2.wheels)

Name: BMW  Milege: 10  Wheels: 4
Rolls Royes 20 4

In [34]:
print(id(s1))

2442196473408

In [35]:
print(id(s2))

2442196445408

In [36]:
Car.wheels

4

In [37]:
Car.wheels=5

In [38]:
Car.wheels

5

In [41]:
s1.wheels

5

In [86]:
from datetime import datetime

class Bank:
    All_customers_detail=list()
    def __init__(self):
        self.bank_name="SBI BANK"
        
    def create_account(self,name,amount):
        user_details=dict()
        user_details["account_num"]=self.generate_account_num()
        user_details["amount"]=amount
        user_details["name"]=name
        
        self.All_customers_detail.append(user_details)
        
    def generate_account_num(self):
        return datetime.now().strftime("SBI%Y%m%d%S")

In [87]:
s1=Bank()

In [88]:
s1.generate_account_num()

'SBI2021081834'

In [89]:
s1.create_account("Vikas Kale",500)

In [90]:
s1.All_customers_detail

[{'account_num': 'SBI2021081837', 'amount': 500, 'name': 'Vikas Kale'}]

In [93]:
from datetime import datetime

class Bank:
    ALL_CUSTOMERS_DATA = list()
    
    def __init__(self):
        self.BANK_NAME = 'SBI BANK'
        
    def create_acccount(self, name, amount):
        user_details = dict()
        
        user_details['account_no'] = self.generate_account_no()
        user_details['name'] = name
        user_details['amount'] = amount
        
        print("######## ACCOUNT NO IS %s ######## "%(user_details.get('account_no')))
        self.ALL_CUSTOMERS_DATA.append(user_details)
        
    def generate_account_no(self):
        return datetime.now().strftime('%d%H%Y%S')

In [94]:
s2=Bank()

In [95]:
s2.generate_account_no()

'1812202118'

In [96]:
s2.create_acccount("Vikas",5000)

######## ACCOUNT NO IS 1812202142 ########

In [98]:
s2.ALL_CUSTOMERS_DATA

[{'account_no': '1812202142', 'name': 'Vikas', 'amount': 5000}]