In [ ]:
A series of number in which each number(fibonacci number) is the sum of two preceding numbers.

0 1  1  2  3  5  8  13  21 .....
| |  |  |  |  |  |   |   |
a b  c  d  e  f  g   h   i


Here c is the sum of two preceding numbers like;c=a+b=0+1=1
d=2 ;  d=b+c=1+1=2
e=3 ;  e=c+d=1+2=3
f=5 ;  f=d+e=2+3=5
g=8 ;  g=e+f=3+5=8

# Write a program to print first 10 fibonacci numbers.

In [9]:
num1=0
num2=1

print(num1)
print(num2)

for i in range(2,10):      # i=2,3,4,5,6,7,8,9
    sum=num1+num2         # sum=0+1=1 ; 2nd: sum=1+1=2; 3rd: sum=3 
    print(sum)            # sum=1 ; 2nd: sum=2 ; 3rd: sum=3
    num1=num2             # num1=1  ; num2=1
    num2=sum               # num2=sum ;num2=2

0
1
1
2
3
5
8
13
21
34

# Write a program to print fibonacci numbers from 5 to 50.

In [10]:
num1=0
num2=1

for i in range(5,51):
    sum=num1+num2
    print(sum)
    num1=num2
    num2=sum

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073

In [12]:
num1=0
num2=1
def fibo():
    for i in range(2,20):
        global num1
        global num2
        sum=num1+num2
        print(sum)
        num1=num2
        num2=sum
    
fibo()

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [14]:
num1=0
num2=1
def fibo():
    for i in range(2,15):
        global num1,num2
        
        sum=num1+num2
        print(sum)
        num1=num2
        num2=sum
    
fibo()

1
2
3
5
8
13
21
34
55
89
144
233
377

# Write a program to multiply all numbers in a list.

In [27]:
num1=[1,2,3,4,5]
result=1
for i in num1:
    
    result=result*i
print(result)

120

In [28]:
1*2*3*4*5

120

In [23]:
24*5

120

In [29]:
num2=[2,4,5]
mul=1
for i in num2:
    mul=mul*i
print(mul)

40

In [7]:
import itertools

num1=[1,2,3,4,5]

result=itertools.accumulate(num1,lambda x,y :x*y)

print(list(result))

[1, 2, 6, 24, 120]

In [8]:
import functools

num1=[1,2,3,4,5]

result1=functools.reduce((lambda x,y :x*y),num1)

print(result1)

120

In [3]:
import itertools

In [4]:
print(dir(itertools))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', '_grouper', '_tee', '_tee_dataobject', 'accumulate', 'chain', 'combinations', 'combinations_with_replacement', 'compress', 'count', 'cycle', 'dropwhile', 'filterfalse', 'groupby', 'islice', 'permutations', 'product', 'repeat', 'starmap', 'takewhile', 'tee', 'zip_longest']

In [13]:
num=0
num1=1

for i in range(1,11):
    sum=num+num1
    
    print(sum)
    
    num=num1
    num1=sum

1
2
3
5
8
13
21
34
55
89

In [16]:
def fibonacci_numbers(nums):
    x, y = 0, 1
    for _ in range(nums):
        x, y = y, x+y
        yield x

def square(nums):
    for num in nums:
        yield num**2

# print(sum(square(fibonacci_numbers(10))))

In [18]:
list(fibonacci_numbers(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [23]:
re=list(square(list(fibonacci_numbers(10))))

In [24]:
print(re)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

In [27]:
x=0
for i in re:
    x=x+i
print(x)

4895

In [1]:
def fibbo(num):
    """
    :param num: enter num ,upto num returns fibbonacci numbers.
    :return: return fibonacci numbers.
    """
    a = 0
    b = 1

    for i in range(2,num+1):
        sum = a + b
        print(sum)
        a = b
        b = sum
fibbo(20)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

In [2]:
help(fibbo)

Help on function fibbo in module __main__:

fibbo(num)
    :param num: enter num ,upto num returns fibbonacci numbers.
    :return: return fibonacci numbers.