In [ ]:
=> A way to create a new list with less syntax
   can mimic certain lambda functons,easier to read
Syntax:
     list=[expression for item in iterable.]

# Normal way to print square of list.

In [1]:
square=[]
for i in range(1,11):
    square.append(i*i)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Using List Comprehension method.

In [2]:
square=[i*i for i in range(1,11)]

In [4]:
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
add=[i+i for i in range(1,11)]

In [6]:
add

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Write a program to print even numbers from list.

In [13]:
num=[1,2,3,4,5,6,7,8,9,10]
even_numbers=[i for i in num if i%2==0]

In [14]:
even_numbers

[2, 4, 6, 8, 10]

In [17]:
numbers=[ num for num in range(1,11)]

In [18]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
even=[i for i in numbers if i%2==0]

In [20]:
even

[2, 4, 6, 8, 10]

In [21]:
num1=[j for j in range(1,21)]
even=[i for i in num1 if i%2==0]

In [22]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Write a program to print odd number.

In [24]:
odd=[k for k in num1 if k%2!=0]

In [25]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
odd1=[i for i in range(21,50)]
print(odd1)

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [30]:
odd_num=[m for m in odd1 if m%2 != 0 ]

In [31]:
odd_num

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [32]:
x=[i for i in range(1,11)]

In [33]:
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
chr(11)

'\x0b'

In [35]:
chr(95)

'_'

In [36]:
chr(120)

'x'

In [37]:
ord('a')

97

In [38]:
chr(97)

'a'

In [44]:
val=[i for i in range(97,122)]

TypeError: an integer is required (got type str)

In [66]:
for i in range(97,123):
    result=(chr(i))
    x=print(result,end="  ")

a  b  c  d  e  f  g  h  i  j  k  l  m  n  o  p  q  r  s  t  u  v  w  x  y  z

In [69]:
ord('A')

65

In [70]:
ord('Z')

90

### Write a program to print following output.

- input=list1=[1,2]
        list2=[3,4]
    
- output= [(1,3),(1,4),(2,3),(2,4)]

In [2]:
list1=[1,2]
list2=[3,4]

x=[(i,j) for i in list1  for j in list2]

In [3]:
x

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [15]:
len(x)

4

In [16]:
type(x)

list

In [4]:
num1=[1,2,3,4]
num2=[5,6,7,8]

result=[(x,y) for x in num1 for y in num2]  # co-orrdinates(x,y)

In [7]:
print(result,end="\t")

[(1, 5), (1, 6), (1, 7), (1, 8), (2, 5), (2, 6), (2, 7), (2, 8), (3, 5), (3, 6), (3, 7), (3, 8), (4, 5), (4, 6), (4, 7), (4, 8)]

In [8]:
a=[1,2,3]
b=[5,6,7]
c=[8,9,10,11]

re=[(i,j,k) for i in a for j in b for k in c]

In [10]:
print(re,end="\t")

[(1, 5, 8), (1, 5, 9), (1, 5, 10), (1, 5, 11), (1, 6, 8), (1, 6, 9), (1, 6, 10), (1, 6, 11), (1, 7, 8), (1, 7, 9), (1, 7, 10), (1, 7, 11), (2, 5, 8), (2, 5, 9), (2, 5, 10), (2, 5, 11), (2, 6, 8), (2, 6, 9), (2, 6, 10), (2, 6, 11), (2, 7, 8), (2, 7, 9), (2, 7, 10), (2, 7, 11), (3, 5, 8), (3, 5, 9), (3, 5, 10), (3, 5, 11), (3, 6, 8), (3, 6, 9), (3, 6, 10), (3, 6, 11), (3, 7, 8), (3, 7, 9), (3, 7, 10), (3, 7, 11)]

In [13]:
list1=[1,2]
list2=[3,4]

x=[(i*j) for i in list1  for j in list2]

In [14]:
print(x)

[3, 4, 6, 8]

### Write a program to print name starts with 'G' and make a new list.

#### Method 1

In [26]:
list1=["Ganesh","Vikas","Guru","Gajanan","Ramesh","grand"]
new_list=[]
for i in list1:
    if i.startswith('G'):
        
        new_list.append(i)
print(new_list)

['Ganesh', 'Guru', 'Gajanan']

#### Method 2

In [18]:
list1=["Ganesh","Vikas","guru","Gajanan","Ramesh","Grand"]
my_list=[i.startswith('G') for i in list1]

In [19]:
my_list

[True, False, False, True, False, True]

In [24]:
list1=["Ganesh","Vikas","Guru","Gajanan","Ramesh","grand"]
my_list=[i for i in list1 if i.startswith('G') ]

In [25]:
my_list

['Ganesh', 'Guru', 'Gajanan']

### Write a program to print name of students whose age above 18.

- students_name=[("Ram",12),("Ganesh",28),("Sham",22),("Vikas",24)]

In [30]:
students_name=[("Ram",12),("Ganesh",28),("Sham",22),("Vikas",24)]
age=[x for (x,y) in students_name if y>18]

In [31]:
age

['Ganesh', 'Sham', 'Vikas']

##### Name of students whose age below 18.

In [40]:
students_name=[("Ram",12),("Ganesh",28),("Sham",22),("Vikas",24),("Suraj",15)]
age=[x for (x,y) in students_name if y<18]

In [41]:
age

['Ram', 'Suraj']

In [45]:
x=int(input())
y=int(input())
z=int(input())
n=int(input())

x1=[i for i in range(x+1)]
y1=[j for j in range(y+1)]
z1=[k for k in range(z+1)]

permutation=[[i,j,k] for i in x1 for j in y1 for k in z1]
required=[m for m in permutation if m!=n]
print(required)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 1]]

In [48]:
n=[int(input())]

print(n)

1
[1]