# OOP(Object Oriented Programming)

What is class ?
Class = Design or Blueprint
Object = Instance
- class is nothing but strecture.
- class contains two things
    1] attributes - local varialble inside a class
    2] methods = a function inside a class called method

What is object ?
- Object is nothing but instance of a class   # instance mean example,sample.
- Every object has it's own properites


Rules while creating class
1] Class Name must start with capital case
2] If name is splited use cample case

    Student        #valid
    StudentDetails #valid
    Student_Details #in-valid

3] We need to use class keyword before class name

Syntax:
#This is defination of a class
    class <ClassName>():
        #attributes
        a = 10
        
        #Methods
        def shwdata(self):
            print("In showdata")
        
#Create a object
object_name = <ClassName>()

#Now you can call class attributes as well as methods
object_name.attribute

object_name.method()

What is self?
- self is current state of object
- As soon as any object call method of class. Then self will know that which object called.
- IF we are not defining self it will give an error required one argeument not defined.

## This is defination of class

In [1]:
class Test:
    a=100  # Attributes
    
    def showdata(self):  # method
        print("In-showdata self class")

### create a object of test class name as t1.

In [2]:
t1=Test()  # object

In [3]:
type(t1)

__main__.Test

In [4]:
t1.a

100

In [6]:
t1.showdata()

In-showdata self class

In [7]:
print(dir(t1))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'a', 'showdata']

In [8]:
t1.a=500

In [9]:
print(t1)

<__main__.Test object at 0x000001FCE2D95BB0>

In [10]:
print(t1.a)

500

In [11]:
print(dir(t1))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'a', 'showdata']

In [12]:
t2.name='Vikas'

NameError: name 't2' is not defined

In [13]:
t2=Test()

In [14]:
t2.name="Vikas"

In [15]:
print(t2)

<__main__.Test object at 0x000001FCE2D95670>

In [16]:
print(t2.name)

Vikas

In [17]:
print(dir(t2))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'a', 'name', 'showdata']

In [18]:
t1=Test()

In [19]:
t1.course="python"

In [20]:
print(t1.course)

python

In [21]:
print(dir(t1))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'a', 'course', 'showdata']

In [22]:
class MarksofStudents():
    marks=95
    def showmarks(self):
        print("Marks of student")

In [23]:
MarksofStudents()

In [25]:
t1=MarksofStudents()

In [26]:
t1.marks

95

In [27]:
print(dir(t1))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'marks', 'showmarks']

In [28]:
t2=88

In [29]:
t2=MarksofStudents()

In [33]:
t2.marks=88

AttributeError: 'int' object has no attribute 'marks'

In [31]:
t2=88

In [34]:
t2.marks=45

AttributeError: 'int' object has no attribute 'marks'

In [39]:
class Test:
    a=100
    
    def showdata(self):
        a=500
        print("Value of local variable a is %d and class attribuit a is %d"%(a,self.a))

In [40]:
t1=Test()

In [41]:
t1.a

100

In [42]:
t1.showdata()

Value of local variable a is 500 and class attribuit a is 100

In [1]:
class MarksofStudents():
    marks=95
    def showmarks(self):
        print("Marks of student")

In [2]:
grades=MarksofStudents()

In [3]:
grades.marks

95

In [4]:
grades.showmarks

In [5]:
grades.showmarks()

Marks of student

In [6]:
grades.marks=100
grades1=MarksofStudents()
grades1.marks

95

In [7]:
grades.marks

100

In [8]:
grades.name='Vikas'

In [9]:
grades.name

'Vikas'

In [10]:
print(dir())

['In', 'MarksofStudents', 'Out', '_', '_3', '_4', '_6', '_7', '_9', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'grades', 'grades1', 'quit']

# Concept of self

In [20]:
class modify():
    
    name=input("Enter name: ").upper()
    
    def showdata(self):
        
        print("This is my name:")

Enter name: vikas

In [21]:
result1=modify()

In [23]:
result1.name="raj"

In [24]:
result1.name

'raj'

In [22]:
class Test1:
    # Attribuits
    num=100
    
    # method
    def prt(self):
        print("the value of num is: ",self.num)

In [14]:
# create an object:
v1=Test1()

In [15]:
v1.num

100

In [16]:
v1.prt()

the value of num is:  100

In [17]:
print(dir(v1))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'num', 'prt']

In [19]:
v1=500

In [24]:
v1=Test1()

In [25]:
v1.num

100

In [26]:
v1=500

In [28]:
v1

500

In [30]:
class Test:
    # Attribuits
    num=100
    
    # method
    def prt(self):
        print("the value of num is: ",self.num)

In [31]:
v2=Test()

In [32]:
v2.num

100

In [33]:
v2.prt()

the value of num is:  100

In [34]:
v2.num=400

In [35]:
v2.num

400

In [36]:
v2.prt()

the value of num is:  400

In [37]:
v3=Test()

In [38]:
v3.num

100

In [39]:
v3.prt()

the value of num is:  100

In [45]:
class StudentInfo:
    student_details=list()
    
    def all_student_details(self,name,course):
        student_info=dict()
        
        student_info["name"]=name
        student_info["course"]=course
        
        self.student_details.append(student_info)
        
    def showdata(self):
        print("########STUDENTS INFO ARE:###########")
        
        for student in self.student_details:
            for name,course in student.items():
                print(name,course)
            print()

In [46]:
s1=StudentInfo()

In [47]:
s1.showdata()

########STUDENTS INFO ARE:###########

In [48]:
s1.all_student_details("Vikas","Python")

In [49]:
s1.showdata()

########STUDENTS INFO ARE:###########
name Vikas
course Python

In [51]:
s2=StudentInfo()

In [52]:
s2.all_student_details("Ganesh","SQL")

In [53]:
s2.showdata()

########STUDENTS INFO ARE:###########
name Vikas
course Python

name Ganesh
course SQL

In [6]:
# Here we design a class or blueprint.
class Computer:
    def __init__(self,cpu,ram):
        self.cpu=cpu
        self.ram=ram
    
    def config(self):
        print("The ram is %s and cpu of computer is %s"%(self.ram,self.cpu))

In [7]:
# Here we create an object.we can create mutiple objects.
comp1=Computer('i5','8gb')

In [8]:
comp1.config()

The ram is 8gb and cpu of computer is i5

In [9]:
# another object
comp2=Computer("i7","24gb")

In [10]:
comp2.config()

The ram is 24gb and cpu of computer is i7

In [11]:
comp3=Computer()

TypeError: __init__() missing 2 required positional arguments: 'cpu' and 'ram'

In [15]:
# In our system we have a special memory called heap memory.
# Inside this heap memory we store all objects that we created.
# In this memory the object get some space
# We can see the address of this object by using id function.

print(id(comp1)) # everytime it will get changed.
print(id(comp2))

2531442785872
2531469241168

In [54]:
class TestData:
    msg="Python with Django"
    
    def test1(self):
        print("I am in test1: ")
    
    def test2(self):
        print("I am in test2: ")
        print(self.msg)
        print("After printing msg")

In [55]:
r=TestData()

In [57]:
r.test1()

I am in test1:

In [58]:
r.test2()

I am in test2:
Python with Django
After printing msg

In [17]:
class Details:
    def __init__(self):
        self.name="Vikas"
        self.age=24
        
    def info(self):
        print("Name is %s and age is %s"%(self.name,self.age))

In [18]:
n1=Details()

In [19]:
n1.info()

Name is Vikas and age is 24

In [21]:
n1.name

'Vikas'

In [22]:
n1.age

24

In [23]:
n1.name="Ganesh"

In [24]:
n1

In [25]:
n1.name

'Ganesh'

# Program to compare age

In [41]:
class StudentDetails:
    def __init__(self):
        self.name="Vikas"
        self.age=24
        
    def print_messg(self):
        print("Name=%s and age =%s"%(self.name,self.age))
        


    def compare(self,other):
        if self.age==other.age:
            return True
        else:
            return False
a2=StudentDetails()
a2.age=30
a1=StudentDetails()


if a2.compare(a1):
    print("They are same")
else:
    print("They are different")

They are different

In [42]:
class StudentDetails:
    def __init__(self):
        self.name="Vikas"
        self.age=24
        
    def print_messg(self):
        print("Name=%s and age =%s"%(self.name,self.age))
        


    def compare(self,other):
        if self.age==other.age:
            return True
        else:
            return False
a2=StudentDetails()
a2.age=30
a1=StudentDetails()
a1.age=30


if a2.compare(a1):
    print("They are same")
else:
    print("They are different")

They are same

In [27]:
a1=StudentDetails()

In [28]:
a1.print_messg()

Name=Vikas and age =24

In [29]:
a1.name

'Vikas'

In [30]:
a1.age

24

In [31]:
a2=StudentDetails()

In [32]:
a2.name

'Vikas'

In [33]:
a2.age

24

In [34]:
a2.age=30

In [35]:
a2.print_messg()

Name=Vikas and age =30

- two variable

1] Instance veriable or object variable
2]class variable or static variable

# Calculate average of marks

In [43]:
class Students:
    def __init__(self,m1,m2,m3):# here m1,m2 and m3 is marks
        self.m1=m1
        self.m2=m2
        self.m3=m3
        
        
    def avg(self):
        print("The average of marks:")
        
        return (self.m1+self.m2+self.m3)/3

In [44]:
a1=Students(23,25,78)

In [45]:
a1.avg()

The average of marks:

42.0

In [46]:
a2=Students(45,20,60)

In [47]:
a2.avg()

The average of marks:

41.666666666666664

In [49]:
class Students:
    def __init__(self,m1,m2,m3):# here m1,m2 and m3 is marks
        self.m1=m1
        self.m2=m2
        self.m3=m3
        
        
    def avg(self):
        print("The average of marks:")
        result=(self.m1+self.m2+self.m3)/3
        
        return "%.2f"%(result)  # By using this we get result in 2 digits.

In [50]:
s=Students(60,45,80)

In [51]:
s.avg()

The average of marks:

'61.67'

In [52]:
s1=Students(45,20,60)

In [53]:
s1.avg()

The average of marks:

'41.67'

In [55]:
class Students:
    school="Dnyanvardhini Vidyalay"
    def __init__(self,m1,m2,m3):# here m1,m2 and m3 is marks
        self.m1=m1
        self.m2=m2
        self.m3=m3
        
        
    def avg(self):
        print("The average of marks:")
        result=(self.m1+self.m2+self.m3)/3
        
        return "%.2f"%(result)  # By using this we get result in 2 digits.
    @classmethod      # use decorator
    def info(cls):  # for class method use cls instead of self.
        return cls.school

In [56]:
t1=Students(12,15,17)

In [57]:
t1.avg()

The average of marks:

'14.67'

In [58]:
t1.info()

'Dnyanvardhini Vidyalay'

In [59]:
Students.info()

'Dnyanvardhini Vidyalay'

In [9]:
class Student:
    
    School_name="SIT,Lonavala"  # class attribute
    
    def __init__(self,name,address,marks):
        self.name=name
        self.address=address
        self.marks=marks
        
        
    def get_marks(self):
        
        """
        This function returns marks of endividual students.
        """
        return self.marks
    
class Courses:
    
    def __init__(self,name,course_name,max_student):
        self.name=name
        self.course_name=course_name
        self.max_student=max_student
        self.student=[]
    
    def add_student(self,student):
        self.student=student
    
    def avg(self,marks):
        """
        This function returns average of total marks in the list.
        """
        self.marks=marks
        
        value=0

In [10]:
s1=Student('Vikas',95)
s2=Student("Suraj",98)
s3=Student("Raj",88)
s4=Student("Ganesh",75)

In [13]:
s4.get_marks("Ganesh")

75

In [15]:
s3.get_marks("Raj")

88

In [18]:
class Student:
    
    def __init__(self,name,age,grade):
        self.name=name
        self.age=age
        self.grade=grade
        
    def get_grade(self):
        
        return self.grade
    
class Course:
    
    def __init__(self,name,max_students):
        self.name=name
        self.max_students=max_students
        self.students=[]
        
    def add_students(self,student):
        
        if (len(self.students) < self.max_students):
            self.students.append(student)
            return True
            
        return False
    
    def get_avg(self):
        
        value=0
        for student in self.students:
            value += student.get_grade()
            
        return value/len(self.students)

s1=Student('Vikas',24,95)
s2=Student("Suraj",25,98)
s3=Student("Raj",30,88)
s4=Student("Ganesh",45,75)

course=Course("Science",5)
course.add_students(s1)
course.add_students(s2)
course.add_students(s3)
course.add_students(s4)

print(course.get_avg())

89.0

In [19]:
95+98+88+75

356

In [20]:
356/4

89.0