In [1]:
num=input()
print(chr((ord(num)+1)))

a
b

In [2]:
num=input()
print(chr((ord(num)+1)))

H
I

In [12]:
import getpass

In [2]:
import sqlite3

In [3]:
conn=sqlite3.connect("employee_details.db")

In [4]:
conn.execute('create table employee1(id int,name text,dept_name text)')

OperationalError: table employee1 already exists

In [5]:
conn.execute("insert into employee1 values(1,'vikas','accounts')")

In [6]:
conn.commit()

In [7]:
result=conn.execute("select*from employee1")

In [8]:
result.fetchall()

[(1, 'vikas', 'accounts'), (2, 'Ram', 'System'), (1, 'vikas', 'accounts')]

In [10]:
!pip install mysql-connector

^C

In [11]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector in c:\programdata\anaconda3\lib\site-packages (2.2.9)

In [1]:
import mysql.connector

In [2]:
conn=mysql.connector.connect(host='localhost', user='root', password = 'kalevikas@7798', database='techno')

ProgrammingError: 1049 (42000): Unknown database 'techno'

In [10]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-cp38-cp38-win_amd64.whl (799 kB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.17.3-cp38-cp38-win_amd64.whl (909 kB)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.26 protobuf-3.17.3