In [1]:
import collections

In [3]:
print(dir(collections))

['ChainMap', 'Counter', 'OrderedDict', 'UserDict', 'UserList', 'UserString', '_Link', '_OrderedDictItemsView', '_OrderedDictKeysView', '_OrderedDictValuesView', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_chain', '_collections_abc', '_count_elements', '_eq', '_heapq', '_iskeyword', '_itemgetter', '_proxy', '_recursive_repr', '_repeat', '_starmap', '_sys', '_tuplegetter', 'abc', 'defaultdict', 'deque', 'namedtuple']

In [4]:
help(collections.namedtuple)

Help on function namedtuple in module collections:

namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)
    Returns a new subclass of tuple with named fields.

    >>> Point = namedtuple('Point', ['x', 'y'])
    >>> Point.__doc__                   # docstring for the new class
    'Point(x, y)'
    >>> p = Point(11, y=22)             # instantiate with positional args or keywords
    >>> p[0] + p[1]                     # indexable like a plain tuple
    33
    >>> x, y = p                        # unpack like a regular tuple
    >>> x, y
    (11, 22)
    >>> p.x + p.y                       # fields also accessible by name
    33
    >>> d = p._asdict()                 # convert to a dictionary
    >>> d['x']
    11
    >>> Point(**d)                      # convert from a dictionary
    Point(x=11, y=22)
    >>> p._replace(x=100)               # _replace() is like str.replace() but targets named fields
    Point(x=100, y=22)

A NamedTuple returns a tuple object with names for each position which the ordinary tuples lack. For example, consider a tuple names student where the first element represents fname, second represents lname and the third element represents the DOB. Suppose for calling fname instead of remembering the index position you can actually call the element by using the fname argument, then it will be really easy for accessing tuples element. This functionality is provided by the NamedTuple.

Syntax:

class collections.namedtuple(typename, field_names)

In [5]:
from collections import namedtuple

Student=namedtuple('Student',['name','age','DOB']) # declaring namedtuple()
S=Student('Vikas',24,'24-sept.1996')               # Adding values

In [7]:
S.name

'Vikas'

In [8]:
S.age

24

In [9]:
S.DOB

'24-sept.1996'

In [12]:
S.count('Vikas')

1

In [13]:
# value access using index

S[0]

'Vikas'

In [14]:
S[1]

24

In [ ]:
1. _make(): This function is used to return a namedtuple() from the iterable passed as argument.

2. _asdict(): This function returns the OrdereDict() as constructed from the mapped values of namedtuple().

In [15]:
from collections import namedtuple

student=namedtuple("student",['name','age','DOB'])
s=student('Ram',20,'1-1-2011')

In [16]:
s.name

'Ram'

In [17]:
s.age

20

In [18]:
s.DOB

'1-1-2011'

In [20]:
# 1. _make(): This function is used to return a namedtuple() from the iterable passed as argument.

# initializing iterable

li=['Ganesh',25,'24-jan-2022']

student._make(li) # protective

student(name='Ganesh', age=25, DOB='24-jan-2022')

In [22]:
#2. _asdict(): This function returns the OrdereDict() as constructed from the mapped values of namedtuple().

# using _asdict() to return an OrderedDict()
print ("The OrderedDict instance using namedtuple is  : ")
print (s._asdict())

The OrderedDict instance using namedtuple is  :
{'name': 'Ram', 'age': 20, 'DOB': '1-1-2011'}

In [23]:
from collections import namedtuple

Point=namedtuple("Point",'x,y')
pt1=Point(1,3)

In [24]:
pt1.x

1

In [25]:
pt1.y

3

In [26]:
pt2=Point(4,5)

In [28]:
pt2.x

4

In [29]:
pt2.y

5

In [30]:
dot_product=(pt1.x * pt2.x) + (pt1.y * pt2.y)

In [31]:
dot_product

19

In [36]:
from collections import namedtuple

Car=namedtuple("Car",['name','mileage','Class','colour'])
C=Car("Rolls Royce",'50km/liter','A','Orange')

In [37]:
C.name

'Rolls Royce'

In [38]:
C.Class

'A'

In [39]:
C.colour

'Orange'

In [40]:
C.index

In [41]:
C.mileage

'50km/liter'

In [42]:
from collections import namedtuple

N = int(input())
fields = input().split()

total = 0
for i in range(N):
    students = namedtuple('student',fields)
    field1, field2, field3,field4 = input().split()
    student = students(field1,field2,field3,field4)
    total += int(student.MARKS)
print('{:.2f}'.format(total/N))

5
ID MARKS NAME CLASS
1 97 Raymond 7
2 50 Steven 4
3 91 Andrian 9
4 72 Stewart 5
5 80 Peter 6
78.00

In [43]:
import collections, statistics
print('%.2f' % statistics.mean(next((int(student(*row).MARKS) for row in (input().split() for i in range(size))) for size, student in [[int(input()), collections.namedtuple('Student', input())]])))

5
MARKS CLASS NAME ID
92 2 Calum 1
82 5 Scott 2
94 2 Jason 3
55 8 Glenn 4
82 2 Fergus 5
81.00

In [ ]:
5
ID         MARKS      NAME       CLASS     
1          97         Raymond    7         
2          50         Steven     4         
3          91         Adrian     9         
4          72         Stewart    5         
5          80         Peter      6  

5
MARKS      CLASS      NAME       ID        
92         2          Calum      1         
82         5          Scott      2         
94         2          Jason      3         
55         8          Glenn      4         
82         2          Fergus     5

In [45]:
from collections import namedtuple
N=int(input())
Student=namedtuple('Student',input().split())
Total=0
for i in range(N):
    Total+=int(Student(*input().split()).MARKS)
print(Total/N)

5
MARKS CLASS NAME ID
92 2 Calum 1
82 5 Scott 2
94 2 Jason 3
55 8 Glenn 4
82 2 Fergus 5
81.0

In [46]:
import statistics

In [47]:
print(dir(statistics))

['Counter', 'Decimal', 'Fraction', 'NormalDist', 'StatisticsError', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_coerce', '_convert', '_exact_ratio', '_fail_neg', '_find_lteq', '_find_rteq', '_isfinite', '_normal_dist_inv_cdf', '_ss', '_sum', 'bisect_left', 'bisect_right', 'erf', 'exp', 'fabs', 'fmean', 'fsum', 'geometric_mean', 'groupby', 'harmonic_mean', 'hypot', 'itemgetter', 'log', 'math', 'mean', 'median', 'median_grouped', 'median_high', 'median_low', 'mode', 'multimode', 'numbers', 'pstdev', 'pvariance', 'quantiles', 'random', 'sqrt', 'stdev', 'tau', 'variance']

In [48]:
help(statistics.mean)

Help on function mean in module statistics:

mean(data)
    Return the sample arithmetic mean of data.

    >>> mean([1, 2, 3, 4, 4])
    2.8

    >>> from fractions import Fraction as F
    >>> mean([F(3, 7), F(1, 21), F(5, 3), F(1, 3)])
    Fraction(13, 21)

    >>> from decimal import Decimal as D
    >>> mean([D("0.5"), D("0.75"), D("0.625"), D("0.375")])
    Decimal('0.5625')

    If ``data`` is empty, StatisticsError will be raised.

In [52]:
statistics.mean([4,6,8,10,15])

8.6

`The mean is the average of a data set.`
`The mode is the most common number in a data set.`
`The median is the middle of the set of numbers.`

In [53]:
lst=[4,6,8,10,15]

In [54]:
sum(lst)/len(lst)

8.6

In [55]:
statistics.mean(lst)

8.6

In [56]:
statistics.mode(lst)

4

In [57]:
statistics.mode(["red", "blue", "blue", "red", "green", "red", "red"])

'red'

In [58]:
statistics.median([1,3,5])

3

In [59]:
statistics.median([1,2,3,4,5,6,7,8])

4.5