=> Lambda Function:- Function written in 1 line using Lamda Keyword.
                     Accept any number of arguments,but only has one expression.
                     It is a shortcut.
=> Syntax:- 
           lambda parameters:expression

## By Using Defenition function.

In [2]:
def mul(num1,num2):
    return num1*num2
print(mul(2,5))

10

## By Using Lambda function.

In [6]:
mul1=lambda num1,num2:num1*num2
 #               |         |
     #       Prameter    Expression
        
print(mul1(2,5))

10

In [8]:
mul1(8,2)

16

In [9]:
addition=lambda a,b,c,d:a+b+c+d

In [10]:
addition(2,3,4,5)

14

In [11]:
name=lambda first_name,last_name:first_name+" "+last_name

In [12]:
name('Vikas',"Kale")

'Vikas Kale'

In [13]:
name('python','programming')

'python programming'

In [24]:
#Age Check
age_check=lambda age: "You are eligible!" if age >=18  else "Your not eligible!"

In [25]:
age_check(12)

'Your not eligible!'

In [26]:
age_check(18)

'You are eligible!'

### Even and odd by using filter function.

In [1]:
def is_even(n):
    return n%2==0
num=[1,2,3,4,5,6,7,8,13,15,18,12]

evens=list(filter(is_even,num))  # filter(function or None, iterable) 
print(evens)

[2, 4, 6, 8, 18, 12]

In [3]:
def is_odd(n):
    return n%2!=0
num=[1,2,3,4,5,6,7,8,13,15,18,12]

result=list(filter(is_odd,num))
print(result)

[1, 3, 5, 7, 13, 15]

### By using lambda.

In [7]:
num=[1,2,3,4,5,6,7,8,13,15,18,12]

is_evens=list(filter(lambda n: n%2==0 ,num))

In [8]:
print(is_evens)

[2, 4, 6, 8, 18, 12]

In [21]:
is_even=[i for i in num if i%2==0 ]

is_even

[2, 4, 6, 8, 18, 12]

In [12]:
num2=[14,15,16,17,18,45,80,85,87,95,96,100]
even_numbers=[i for i in num2 if i%2==0 ]
print(even_numbers)

[14, 16, 18, 80, 96, 100]

In [13]:
odd_numbers=[i for i in num2 if i%2!=0]
print(odd_numbers)

[15, 17, 45, 85, 87, 95]

In [15]:
odd1=list(filter(lambda n:n%2!=0,num2))
print(odd1)

[15, 17, 45, 85, 87, 95]

In [16]:
even1=list(filter(lambda n: n%2==0,num2))
print(even1)

[14, 16, 18, 80, 96, 100]

In [2]:
num=10
print(num)

b=20
print(b)

c=48
print(c*b)

10
20
960

In [27]:
a=10
print(a)

10

In [28]:
b=20
print(b)

20

In [26]:
c=48
print(c*b)

10
20
960

In [3]:
def is_even(n):
    return n%2==0
is_even(8)

True

In [12]:
num=42
result=lambda num:num%2==0
print(result)

<function <lambda> at 0x000001F7DC86F700>

##### write a program to check out of two numbers which number is greater.

In [28]:
def grat(x,y):
    if x>y:
        return x,"is greater! and" ,y,"is lesser!"
    else:
        return y,"is greater! and" ,x,"is lesser!"

In [29]:
grat(5,8)

(8, 'is greater! and', 5, 'is lesser!')

In [31]:
grat(40,50)

(50, 'is greater! and', 40, 'is lesser!')

#### above program using lambda function

In [45]:
greater=lambda x,y:'%d is greater'%(x) if x>y else "%d is less"%(x)

In [46]:
greater(5,8)

'5 is less'

In [47]:
greater(100,50)

'100 is greater'

In [48]:
add=lambda a,b:a+b

In [49]:
add(200,500)

700

In [70]:
is_even=lambda num:'%d is even.'%(num) if num%2==0 else '%d is odd.' %(num)

In [71]:
is_even(84)

'84 is even.'

In [72]:
is_even(97)

'97 is odd.'

In [83]:
result=[i for i in range(1,11)]

In [84]:
result

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
odd=lambda a,b : a if a%2!=0 else b

In [89]:
odd(4,15)

15

In [90]:
odd(7,25)

7

In [92]:
odd(3,5)

3

#### Write a program to print even numbers from 1 to 10.

In [94]:
even()

2

In [104]:
def eve():
    
    for i in range(1,11):
        if i%2==0:
            print(i)

In [105]:
eve()

2
4
6
8
10

In [108]:
def eve(n):
    return n%2==0

In [109]:
eve(5)

False

In [110]:
eve(4)

True

In [111]:
result=[i for i in range(1,11) if i%2==0]

In [112]:
result

[2, 4, 6, 8, 10]

In [113]:
odd_numbers=[i for i in range(11,21) if i%2!=0]

In [114]:
odd_numbers

[11, 13, 15, 17, 19]

### Write a program to print all even numbers from 1 to 50 in one line.

In [115]:
result=[num for num in range(1,51) if num%2==0]

In [118]:
print(result,end="\t")

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [119]:
len(result)

25

In [1]:
res=['not valid data type %s'%(i) if type(i)!=int  else ("even-%d" %(i) if i%2==0 else "odd-%d" %(i)) for i in [12,2,3,4,5,6,7,'a','vikas',12.45,4,85]]

In [2]:
res

['even-12',
 'even-2',
 'odd-3',
 'even-4',
 'odd-5',
 'even-6',
 'odd-7',
 'not valid data type a',
 'not valid data type vikas',
 'not valid data type 12.45',
 'even-4',
 'odd-85']

In [138]:
["%s is not valid data type: " %(i) if type(i)!=int else ("%d is even." %(i) if i%2==0 else "%d is odd." %(i)) for i in ['Vikas',7,8,9,12,13,'python']]

['Vikas is not valid data type: ',
 '7 is odd.',
 '8 is even.',
 '9 is odd.',
 '12 is even.',
 '13 is odd.',
 'python is not valid data type: ']

In [149]:
out=["even=> %d " %(i) if i%2==0 else "odd=> %d" %(i) for i in range(1,11)]

In [140]:
out

['odd=> 1',
 'even=> 2 ',
 'odd=> 3',
 'even=> 4 ',
 'odd=> 5',
 'even=> 6 ',
 'odd=> 7',
 'even=> 8 ',
 'odd=> 9',
 'even=> 10 ']

In [150]:
result= lambda num: 'even=>%d' %(num) if num%2==0 else "odd=> %d" %(num)

In [151]:
result

In [152]:
result(5)

'odd=> 5'

In [153]:
result(12)

'even=>12'

now by using map function map

In [154]:
list(map(result,[1,2,3,4,5,6,7,8,9,10]))

['odd=> 1',
 'even=>2',
 'odd=> 3',
 'even=>4',
 'odd=> 5',
 'even=>6',
 'odd=> 7',
 'even=>8',
 'odd=> 9',
 'even=>10']

In [155]:
x=[i for i in range(1,5)]

In [156]:
x

[1, 2, 3, 4]

In [157]:
result1=list(map(result,x))

In [158]:
result1

['odd=> 1', 'even=>2', 'odd=> 3', 'even=>4']

In [159]:
result2=list(map(result,[i for i in range(1,8)]))

In [160]:
result2

['odd=> 1', 'even=>2', 'odd=> 3', 'even=>4', 'odd=> 5', 'even=>6', 'odd=> 7']

In [165]:
list1=[1,2,3,4,5,6,7,8]
result2=list(map(lambda num:"even" if num%2==0 else "odd ",list1))

In [166]:
result2

['odd ', 'even', 'odd ', 'even', 'odd ', 'even', 'odd ', 'even']