In [1]:
import mysql.connector

In [ ]:
# how to connect mysql from command 

mysql -u root -p

mysql> show databases;

mysql> create database <database_name>;

mysql> use <database_name>;

mysql> show tables;

mysql> desc <table_name>;

mysql> select * from <table_name>;


#create table <table_name>(col_name datateype, col_name dateatype);
mysql> create table students(sid int, name char(25), course char(25));

#insert into <table_name> values(col1_value, col2_value, col3_value);
mysql> insert into students values(1, 'rahul', 'python');
mysql> insert into students values(2, 'sachin', 'python ds');

In [3]:
mydb=mysql.connector.connect(host='localhost',user='root',passwd='kalevikas@7798',database='test')

In [4]:
mycursor=mydb.cursor()
mycursor.execute("show databases")

In [5]:
for i in mycursor:
    print(i)         # we get all database names

('elephant',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

In [6]:
mycursor.execute('select * from student')

In [8]:
for i in mycursor:
    print(i)

('Vikas', 'SIT')
('Ganesh', 'DYPATIL')

In [9]:
mycursor.execute("select * from student")

In [10]:
for j in mycursor:
    print(j)

('Vikas', 'SIT')
('Ganesh', 'DYPATIL')

In [12]:
mydb1=mysql.connector.connect(host="localhost",user='root',passwd='kalevikas@7798',database='test')

In [14]:
mycursor=mydb1.cursor()

In [15]:
mycursor.execute("show databases")

In [16]:
for k in mycursor:
    print(k)

('elephant',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

In [17]:
mycursor.execute("show tables")

In [18]:
for m in mycursor:
    print(m)

('result',)
('student',)

In [19]:
mycursor.execute("select * from result")

In [20]:
for h in mycursor:
    print(h)

('Vikas', '85')
('Suraj', '90')
('Raj', '65')
('Swapnil', '78')

# Create New database Courses

In [22]:
mydb2=mysql.connector.connect(host="localhost",user="root",passwd="kalevikas@7798",database="Courses")

In [23]:
mycursor=mydb2.cursor()

In [24]:
mycursor.execute("show databases")

In [25]:
for a in mycursor:
    print(a)

('courses',)
('elephant',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

In [26]:
mycursor.execute("show tables")

In [27]:
for table in mycursor:
    print(table)

('course_and_fee',)

In [37]:
mycursor.execute("select * from course_and_fee")

In [29]:
for data in mycursor:
    print(data)

('Python', '12000')
('Django', '15000')
('Machine learning', '20000')
('Data Scientiest', '42000')

In [30]:
cursor.fetchall()

NameError: name 'cursor' is not defined

In [38]:
mycursor.fetchall()

[('Python', '12000'),
 ('Django', '15000'),
 ('Machine learning', '20000'),
 ('Data Scientiest', '42000')]

In [33]:
cursor=mydb2.cursor()

In [35]:
cursor.execute("select * from course_and_fee")

In [36]:
cursor.fetchall()

[('Python', '12000'),
 ('Django', '15000'),
 ('Machine learning', '20000'),
 ('Data Scientiest', '42000')]

In [1]:
import mysql.connector

In [2]:
conn=mysql.connector.connect(host="localhost",user="root",passwd="kalevikas@7798",database="Peoples")

In [3]:
mycursor=conn.cursor()

In [4]:
mycursor.execute("select * from Data")

In [5]:
mycursor.fetchall()

[('Info-4589', 'Vikas', 'Kale', 'Pune', '7798743804')]

In [6]:
for value in mycursor:
    print(value)

In [9]:
mycursor.execute("show tables")

In [10]:
mycursor.fetchall()

[('data',)]

In [11]:
mycursor.execute("select * from Data")

In [12]:
for i in mycursor:
    print(i)

('Info-4589', 'Vikas', 'Kale', 'Pune', '7798743804')

In [13]:
mycursor.execute("show databases")

In [14]:
mycursor.fetchall()

[('courses',),
 ('elephant',),
 ('information_schema',),
 ('mysql',),
 ('peoples',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [15]:
new=mysql.connector.connect(host="localhost",user="root",passwd="kalevikas@7798",database="Test")

In [16]:
cursor=new.cursor()

In [17]:
cursor.execute("show databases")

In [19]:
cursor.fetchall()

[('courses',),
 ('elephant',),
 ('information_schema',),
 ('mysql',),
 ('peoples',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [20]:
cursor.execute("show tables")

In [21]:
cursor.fetchall()

[('result',), ('student',)]

In [22]:
cursor.execute("select * from result")

In [23]:
for i in cursor:
    print(i)

('Vikas', '85')
('Suraj', '90')
('Raj', '65')
('Swapnil', '78')

In [24]:
import mysql.connector

In [25]:
connection=mysql.connector.connect(host="localhost",user="root",passwd="kalevikas@7798",database="Peoples")

In [27]:
mycursor=connection.cursor()

In [28]:
mycursor.execute("show databases")

In [29]:
mycursor.fetchall()

[('courses',),
 ('elephant',),
 ('information_schema',),
 ('mysql',),
 ('peoples',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [30]:
mycursor.execute("show tables")

In [31]:
mycursor.fetchall()

[('data',)]

In [32]:
mycursor.execute("select * from data")

In [33]:
mycursor.fetchall()

[('Info-4589', 'Vikas', 'Kale', 'Pune', '7798743804'),
 ('TATA-8532', 'Suraj', 'Kadam', 'Osmanabad', '9856525623'),
 ('MindTree-9621', 'Raj', 'Pawar', 'Mumbai', '7453529875')]

In [34]:
import mysql.connector

In [35]:
students=mysql.connector.connect(host="localhost",user="root",passwd="kalevikas@7798",database="Peoples")

In [36]:
mycursor=students.cursor()

In [37]:
mycursor.execute("show tables")

In [38]:
mycursor.fetchall()

[('data',), ('student_details',)]

In [39]:
mycursor.execute("select * from student_details")

In [40]:
mycursor.fetchall()

[('SIT-1', 'VIKAS', 'ENGLISH'),
 ('SIT-2', 'Ganesh', 'Physics'),
 ('SIT-3', 'Ram', 'Biology'),
 ('SIT-4', 'Mahesh', 'History'),
 ('SIT-5', 'Swapnil', 'Sociology')]

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
passwd = "kalevikas@7798")

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000166335AB1C0>

In [3]:
# now create database

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [6]:
# check if created database exist in your system.

mycursor.fetchall()

[('courses',),
 ('elephant',),
 ('info',),
 ('information_schema',),
 ('mobiles',),
 ('mydatabase',),
 ('mysql',),
 ('peoples',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [7]:
# another way to fetch databases

for i in mycursor:
    print(i)

In [8]:
# try connecting to the database

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
passwd = "kalevikas@7798",
database = "mydatabase")

In [10]:
mycursor = mydb.cursor() 
mycursor.execute("CREATE TABLE customers(name VARCHAR(255), address VARCHAR(255))")

In [11]:
mycursor.execute("SHOW TABLES")

In [12]:
for i in mycursor:
    print(i)

('customers',)

In [15]:
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
passwd = "kalevikas@7798",
database = "mydatabase")

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers1(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [16]:
mycursor.execute("SHOW TABLES")

In [17]:
mycursor.fetchall()

[('customers',), ('customers1',)]

In [ ]:
# if the table already exist use the ALTER TABLE keyword.

In [18]:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
# insert into table

In [19]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Vikas Hanumant Kale", "Keshegaon,Osmanabad-413506")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [ ]:
# mydb.commit()  - is required to make changes otherwise no changes are made to the table.

In [ ]:
# insert multiple rows

- to insert multiple rows into a table use executemany method.
- the 2nd parameter of executemany method is list of tuple containing the data you want to insert.

In [28]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
passwd = "kalevikas@7798",
database = "mydatabase")

# mycursor = mydb.cursor()

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ("Vikas", "Shivaji_Nagar, Pune"),
    ("Ram", "Swargate, Pune"),
    ("Ganesh", "Hinjawadi, Pune"),
    ("Vishnu", "Khadaki, Pune"),
    ("Mahesh", "Hadpsar, Pune"),
    ("Vitthal","Kondhwa, Pune"),
    ("Samarth", "Chinchwad, Pune"),
    ("Pandurang", "Pimpri, Pune"),
    ("Maruti", "Katraj, Pune"),
    ("Rukmini", "Aundh, Pune"),
    ("Lakshaman", "Pune_station, Pune"),
    ("Seeta", "Chakan, Pune"),
    ("Parvati", "Nigadi, Pune"),
    ("Mahadev", "Bhosari, Pune")
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted")

14 was inserted

In [27]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="kalevikas@7798",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
 ('Peter', 'Lowstreet 4'),
 ('Amy', 'Apple st 652'),
 ('Hannah', 'Mountain 21'),
 ('Michael', 'Valley 345'),
 ('Sandy', 'Ocean blvd 2'),
 ('Betty', 'Green Grass 1'),
 ('Richard', 'Sky st 331'),
 ('Susan', 'One way 98'),
 ('Vicky', 'Yellow Garden 2'),
 ('Ben', 'Park Lane 38'),
 ('William', 'Central st 954'),
 ('Chuck', 'Main Road 989'),
 ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record was inserted.")

13 record was inserted.

In [29]:
print(mycursor.lastrowid)

15

In [ ]:
# to select from a table use SELECT

In [35]:
mycursor.execute("SELECT * FROM customers")

In [36]:
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Vikas Hanumant Kale', 'Keshegaon,Osmanabad-413506', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Vikas', 'Shivaji_Nagar, Pune', 15)
('Ram', 'Swargate, Pune', 16)
('Ganesh', 'Hinjawadi, Pune', 17)
('Vishnu', 'Khadaki, Pune', 18)
('Mahesh', 'Hadpsar, Pune', 19)
('Vitthal', 'Kondhwa, Pune', 20)
('Samarth', 'Chinchwad, Pune', 21)
('Pandurang', 'Pimpri, Pune', 22)
('Maruti', 'Katraj, Pune', 23)
('Rukmini', 'Aundh, Pune', 24)
('Lakshaman', 'Pune_station, Pune', 25)
('Seeta', 'Chakan, Pune', 26)
('Parvati', 'Nigadi, Pune', 27)
('Mahadev', 'Bhosari, Pune', 28)

In [37]:
mycursor.rowcount

28

In [38]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
passwd = "kalevikas@7798",
database = "mydatabase")

# mycursor = mydb.cursor()

mycursor = mydb.cursor()

sql = "INSERT INTO customers1 (name, address) VALUES (%s, %s)"
val = [
    ("Vikas", "Shivaji_Nagar, Pune"),
    ("Ram", "Swargate, Pune"),
    ("Ganesh", "Hinjawadi, Pune"),
    ("Vishnu", "Khadaki, Pune"),
    ("Mahesh", "Hadpsar, Pune"),
    ("Vitthal","Kondhwa, Pune"),
    ("Samarth", "Chinchwad, Pune"),
    ("Pandurang", "Pimpri, Pune"),
    ("Maruti", "Katraj, Pune"),
    ("Rukmini", "Aundh, Pune"),
    ("Lakshaman", "Pune_station, Pune"),
    ("Seeta", "Chakan, Pune"),
    ("Parvati", "Nigadi, Pune"),
    ("Mahadev", "Bhosari, Pune")
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted")

14 was inserted

In [39]:
mycursor.execute("select * from customers1")

In [40]:
mycursor.fetchall()

[(1, 'Vikas', 'Shivaji_Nagar, Pune'),
 (2, 'Ram', 'Swargate, Pune'),
 (3, 'Ganesh', 'Hinjawadi, Pune'),
 (4, 'Vishnu', 'Khadaki, Pune'),
 (5, 'Mahesh', 'Hadpsar, Pune'),
 (6, 'Vitthal', 'Kondhwa, Pune'),
 (7, 'Samarth', 'Chinchwad, Pune'),
 (8, 'Pandurang', 'Pimpri, Pune'),
 (9, 'Maruti', 'Katraj, Pune'),
 (10, 'Rukmini', 'Aundh, Pune'),
 (11, 'Lakshaman', 'Pune_station, Pune'),
 (12, 'Seeta', 'Chakan, Pune'),
 (13, 'Parvati', 'Nigadi, Pune'),
 (14, 'Mahadev', 'Bhosari, Pune')]

In [46]:
import mysql.connector

# create database

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
passwd = "kalevikas@7798")

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE my_second_database")

In [49]:
# show database we just created

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

In [50]:
mycursor.fetchall()

[('courses',),
 ('elephant',),
 ('info',),
 ('information_schema',),
 ('mobiles',),
 ('my_second_database',),
 ('mydatabase',),
 ('mysql',),
 ('peoples',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [51]:
for x in mycursor:
    print(x)

In [1]:
pip install pywhatkit

Collecting pywhatkit
Note: you may need to restart the kernel to use updated packages.  Using cached pywhatkit-5.1-py3-none-any.whl (12 kB)
Collecting wikipedia
  Downloading wikipedia-1.4.0.tar.gz (27 kB)
Collecting pyautogui
  Downloading PyAutoGUI-0.9.53.tar.gz (59 kB)
Requirement already satisfied: Pillow in c:\programdata\anaconda3\lib\site-packages (from pywhatkit) (8.2.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from pywhatkit) (2.25.1)
Collecting pymsgbox
  Downloading PyMsgBox-1.0.9.tar.gz (18 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Collecting PyTweening>=1.0.1
  Downloading pytweening-1.0.4.tar.gz (14 kB)
Collecting pyscreeze>=0.1.21
  Downloading PyScreeze-0.1.28.tar.gz (25 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started

  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Collecting pygetwindow>=0.0.5
  Downloading PyGetWindow-0.0.9.tar.gz (9.7 kB)
Collecting mouseinfo
  Downloading MouseInfo-0.1.3.tar.gz (10 kB)
Collecting pyrect
  Downloading PyRect-0.1.4.tar.gz (15 kB)
Collecting pyperclip
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->pywhatkit) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->pywhatkit) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->pywhatkit) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->pywhatkit) (2020.12.5)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from wikipedia->pywhatkit) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->wikipedia->pywhatkit) (2.2.1)
Building wheels for collected packages: pyautogui, pygetwindow, pyscreeze, PyTweening, mouseinfo, pymsgbox, pyperclip, pyrect, wikipedia
  Building wheel for pyautogui (setup.py): started
  Building wheel for pyautogui (setup.py): finished with status 'done'
  Created wheel for pyautogui: filename=PyAutoGUI-0.9.53-py3-none-any.whl size=36583 sha256=e7042db17bf7953a75005622e773d45ce5233345bb1f72553d01a50d2303c151
  Stored in directory: c:\users\shweta bhandare\appdata\local\pip\cache\wheels\54\04\f7\55704a9d374ed923785a4fdc0ef00151fa25306b3b93345532
  Building wheel for pygetwindow (setup.py): started
  Building wheel for pygetwindow (setup.py): finished with status 'done'
  Created wheel for pygetwindow: filename=PyGetWindow-0.0.9-py3-none-any.whl size=11078 sha256=43e4733bd92ef47f17383a21a8c378cba87935bce34fe58c64b4a5180ca7e095
  Stored in directory: c:\users\shweta bhandare\appdata\local\pip\cache\wheels\91\e3\04\184bda98ec7f7d5f0ba1f372bcf7b3ba86325151ae1dd690fe
  Building wheel for pyscreeze (PEP 517): started
  Building wheel for pyscreeze (PEP 517): finished with status 'done'
  Created wheel for pyscreeze: filename=PyScreeze-0.1.28-py3-none-any.whl size=13023 sha256=389d203b405e0f6c31ce52d2c62040bcee24b342d0d76b2e1d10315be5c77970
  Stored in directory: c:\users\shweta bhandare\appdata\local\pip\cache\wheels\b1\b0\5c\9fb5beb2d6c708479a670e92f4ab3b54523a15c9cd4a46e24e
  Building wheel for PyTweening (setup.py): started
  Building wheel for PyTweening (setup.py): finished with status 'done'
  Created wheel for PyTweening: filename=pytweening-1.0.4-py3-none-any.whl size=5825 sha256=2471d9cbd7fe1ae96a0df9c4b90ca450be53384be365ba357c3c5d14db79f316
  Stored in directory: c:\users\shweta bhandare\appdata\local\pip\cache\wheels\a2\1b\69\dc477653ccc19228bf53af76c623e4e82e5dc1b6f78d5c4d35
  Building wheel for mouseinfo (setup.py): started
  Building wheel for mouseinfo (setup.py): finished with status 'done'
  Created wheel for mouseinfo: filename=MouseInfo-0.1.3-py3-none-any.whl size=10905 sha256=550c11bee051442b31c63895c0c2b6eb6751a7d92e881306cf7469b6dea889dc
  Stored in directory: c:\users\shweta bhandare\appdata\local\pip\cache\wheels\d1\72\fb\35f403de66285df8ecca7049bcc61bfb57aba0f76d1f08f7eb
  Building wheel for pymsgbox (PEP 517): started
  Building wheel for pymsgbox (PEP 517): finished with status 'done'
  Created wheel for pymsgbox: filename=PyMsgBox-1.0.9-py3-none-any.whl size=7420 sha256=f37174d13557a13d1dbd268b4b019e81654aeca25c3a7147457e85cf76309009
  Stored in directory: c:\users\shweta bhandare\appdata\local\pip\cache\wheels\91\28\0d\f4eb606d38276836237d6dc2abf094241e6db5682a126e0389
  Building wheel for pyperclip (setup.py): started
  Building wheel for pyperclip (setup.py): finished with status 'done'
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11107 sha256=b1006356c9322531e8aeebe566721a73266e2a84d3b6ba715fb2218a14dc89ae
  Stored in directory: c:\users\shweta bhandare\appdata\local\pip\cache\wheels\7f\1a\65\84ff8c386bec21fca6d220ea1f5498a0367883a78dd5ba6122
  Building wheel for pyrect (setup.py): started
  Building wheel for pyrect (setup.py): finished with status 'done'
  Created wheel for pyrect: filename=PyRect-0.1.4-py2.py3-none-any.whl size=9547 sha256=1c7e2667a3a14a544a62f1cd2d38ee93b2119b0947ec34c84c97bc37c438b970
  Stored in directory: c:\users\shweta bhandare\appdata\local\pip\cache\wheels\d1\e4\47\c62f8291b16b6df7e89ac885881ff71f35ca04c6e384251de9
  Building wheel for wikipedia (setup.py): started
  Building wheel for wikipedia (setup.py): finished with status 'done'
  Created wheel for wikipedia: filename=wikipedia-1.4.0-py3-none-any.whl size=11686 sha256=4d4652e9060973f6100a6637feb1fd4811beabfdc56a0b428ddc2e86c53c7d4a
  Stored in directory: c:\users\shweta bhandare\appdata\local\pip\cache\wheels\07\93\05\72c05349177dca2e0ba31a33ba4f7907606f7ddef303517c6a
Successfully built pyautogui pygetwindow pyscreeze PyTweening mouseinfo pymsgbox pyperclip pyrect wikipedia
Installing collected packages: pyrect, pyperclip, PyTweening, pyscreeze, pymsgbox, pygetwindow, mouseinfo, wikipedia, pyautogui, pywhatkit
Successfully installed PyTweening-1.0.4 mouseinfo-0.1.3 pyautogui-0.9.53 pygetwindow-0.0.9 pymsgbox-1.0.9 pyperclip-1.8.2 pyrect-0.1.4 pyscreeze-0.1.28 pywhatkit-5.1 wikipedia-1.4.0

In [ ]:
import pywhatkit

pywhatkit.sendwhatmsg("+917798743804","hii",6,14)

In 43187 seconds web.whatsapp.com will open and after 20 seconds message will be delivered

In [4]:
# create database

import mysql.connector

conn = mysql.connector.connect(
host = "localhost",
user = "root",
passwd = "kalevikas@7798")

mycursor = conn.cursor()

# mycursor.execute("CREATE DATABASE mydatabase3")

In [6]:
mycursor.execute("SHOW DATABASES")

In [7]:
for i in mycursor:
    print(i)

('courses',)
('elephant',)
('info',)
('information_schema',)
('mobiles',)
('my_second_database',)
('mydatabase',)
('mysql',)
('peoples',)
('performance_schema',)
('sys',)
('test',)

In [10]:
# create database

import mysql.connector

conn = mysql.connector.connect(
host = "localhost",
user = "root",
passwd = "kalevikas@7798")

mycursor = conn.cursor()

mycursor.execute("CREATE DATABASE mydatabase3")

DatabaseError: 1007 (HY000): Can't create database 'mydatabase3'; database exists

In [11]:
mycursor.fetchall()

[]

In [12]:
mycursor.execute("SHOW DATABASES")

In [13]:
mycursor.fetchall()

[('courses',),
 ('elephant',),
 ('info',),
 ('information_schema',),
 ('mobiles',),
 ('my_second_database',),
 ('mydatabase',),
 ('mydatabase3',),
 ('mysql',),
 ('peoples',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [17]:
# create table

import mysql.connector

conn = mysql.connector.connect(
host = "localhost",
user = "root",
passwd = "kalevikas@7798",
database = "mydatabase3")

mycursor = conn.cursor()

mycursor.execute("CREATE TABLE books(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), price int)")

In [22]:
# insert values

sql = "INSERT INTO books (name, price) VALUES (%s, %d)"
val = [
    ('python', 250),
    ('django', 500),
    ('electrical', 800)
]

mycursor.executemany(sql, val)

ProgrammingError: Not all parameters were used in the SQL statement

In [19]:
conn.commit()

In [20]:
mycursor.execute("SELECT * FROM books")

In [21]:
mycursor.fetchall()

[]

In [1]:
import mysql.connector

In [2]:
# create connection

conn = mysql.connector.connect(
host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798'
)

# create database mydatabase4

mycursor = conn.cursor()

mycursor.execute("CREATE DATABASE mydatabase4")

In [ ]:
- python needs a mysql driver to access the mysql database.
- here we use the driver mysql connector.
-

In [3]:
# show all databases in your system

mycursor.execute("SHOW DATABASES")

In [4]:
mycursor.fetchall()

[('courses',),
 ('elephant',),
 ('info',),
 ('information_schema',),
 ('mobiles',),
 ('my_second_database',),
 ('mydatabase',),
 ('mydatabase3',),
 ('mydatabase4',),
 ('mysql',),
 ('peoples',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [5]:
# connect mydatabase

conn = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase4')

In [6]:
# create table

mycursor = conn.cursor()
mycursor.execute("CREATE TABLE production_details(id INT AUTO_INCREMENT PRIMARY KEY, company_name VARCHAR(255), production VARCHAR(255),per_month_production int)")

In [7]:
mycursor.execute("SHOW TABLES")

In [8]:
mycursor.fetchall()

[('production_details',)]

In [11]:
# insert values into table

sql = "INSERT INTO production_details (company_name, production, per_month_production) VALUES (%s, %s, %s)"
val = [
    ('TATA Moters', 'cars', 15000),
    ('BAJAJ Moters', 'two wheelers', 50000),
    ('FORCE', 'four wheelers', 20000),
    ('HERO moters', '2 wheelers', 80000)
]

mycursor.executemany(sql, val)
conn.commit()

print(mycursor.rowcount, 'was inserted.')

4 was inserted.

In [12]:
mycursor.execute("SELECT * FROM production_details")

In [13]:
mycursor.fetchall()

[(1, 'TATA Moters', 'cars', 15000),
 (2, 'BAJAJ Moters', 'two wheelers', 50000),
 (3, 'FORCE', 'four wheelers', 20000),
 (4, 'HERO moters', '2 wheelers', 80000)]

In [14]:
mycursor.lastrowid

1

In [15]:
mycursor.lastrowid

1

In [ ]:
# fetchone

In [17]:
mycursor.fetchone()

In [18]:
for i in mycursor:
    print(i)

In [20]:
mycursor.execute("SELECT * FROM production_details")

In [21]:
mycursor.fetchone()

(1, 'TATA Moters', 'cars', 15000)

In [22]:
mycursor.fetchone()

(2, 'BAJAJ Moters', 'two wheelers', 50000)

In [23]:
mycursor.fetchone()

(3, 'FORCE', 'four wheelers', 20000)

In [ ]:
# when selecting records from a table, you can filter the selection by using WHERE statement.

In [31]:
sql = "SELECT FROM production_details WHERE per_month_production=50000"

mycursor.execute(sql)

mycursor.fetchall()

InternalError: Unread result found

In [32]:
import mysql.connector

conn = mysql.connector.connect(
    
host = 'loacalhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase4'
)

mycursor = conn.cursor()

RESULT = mycursor.execute("SHOW TABLES")

for i in RESULT:
    print(i)

InterfaceError: 2003: Can't connect to MySQL server on '%-.100s:%u' (%s) (Warning: %u format: a number is required, not str)

In [33]:
mycursor.execute("SELECT * FROM production_details")

InternalError: Unread result found

In [1]:
import mysql.connector

conn = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase4')

mycursor = conn.cursor()

mycursor.execute("SELECT * FROM production_details where per_month_production=50000")

In [2]:
myresult = mycursor.fetchall()

for i in myresult:
    print(i)

(2, 'BAJAJ Moters', 'two wheelers', 50000)

In [3]:
mycursor.execute("select * from production_details where id > 3")

In [4]:
mycursor.fetchall()

[(4, 'HERO moters', '2 wheelers', 80000)]

In [9]:
mycursor.execute("select * from production_details where id>2")

In [10]:
result = mycursor.fetchall()

In [11]:
for i in result:
    print(i)

(3, 'FORCE', 'four wheelers', 20000)
(4, 'HERO moters', '2 wheelers', 80000)

In [ ]:
# wildcard character

Wildcard Characters
You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the %  to represent wildcard characters

In [2]:
sql = "select * from production_details where company = % s"
cmpy = ('HERO moters',)

mycursor.executemany(sql, cmpy)

InternalError: Unread result found

In [3]:
conn = mysql.connector.connect(
host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase')

mycursor = conn.cursor()

In [4]:
mycursor.execute("show tables")

In [5]:
mycursor.fetchall()

[('customers',), ('customers1',)]

In [6]:
mycursor.execute("select * from customers1")

In [7]:
mycursor.fetchall()

[(1, 'Vikas', 'Shivaji_Nagar, Pune'),
 (2, 'Ram', 'Swargate, Pune'),
 (3, 'Ganesh', 'Hinjawadi, Pune'),
 (4, 'Vishnu', 'Khadaki, Pune'),
 (5, 'Mahesh', 'Hadpsar, Pune'),
 (6, 'Vitthal', 'Kondhwa, Pune'),
 (7, 'Samarth', 'Chinchwad, Pune'),
 (8, 'Pandurang', 'Pimpri, Pune'),
 (9, 'Maruti', 'Katraj, Pune'),
 (10, 'Rukmini', 'Aundh, Pune'),
 (11, 'Lakshaman', 'Pune_station, Pune'),
 (12, 'Seeta', 'Chakan, Pune'),
 (13, 'Parvati', 'Nigadi, Pune'),
 (14, 'Mahadev', 'Bhosari, Pune')]

In [12]:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ('Katraj, Pune', )

mycursor.execute(sql, adr)

In [13]:
mycursor.fetchall()

[('Maruti', 'Katraj, Pune', 23)]

# 1.create

In [1]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',

)

mycursor = mydb.cursor()

In [2]:
# create database mydatabase5

import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',

)

mycursor = mydb.cursor()

mycursor.execute("create database mydatabase5")

# show databases

In [3]:
mycursor.execute("show databases")

In [4]:
for db in mycursor:
    print(db)

('courses',)
('elephant',)
('info',)
('information_schema',)
('mobiles',)
('my_second_database',)
('mydatabase',)
('mydatabase3',)
('mydatabase4',)
('mydatabase5',)
('mysql',)
('peoples',)
('performance_schema',)
('sys',)
('test',)

# crud operation
- create 
- read
- update
- delete

# create table

In [6]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase5'
)

mycursor = mydb.cursor()

In [7]:
mycursor.execute("create table fruits(id INT AUTO_INCREMENT PRIMARY KEY, name varchar(255), price int)")

# show table

In [8]:
mycursor.execute("show tables")

In [9]:
for tbl in mycursor:
    print(tbl)

('fruits',)

# insert values

In [16]:
sql = "insert into fruits (name, price) values (%s, %s)"
val = [
    ('Mango', 250),
    ('Apple', 80),
    ('Gauva', 100),
    ('Kiwi', 55),
    ('Banana', 120),
    ('Custard Apple', 140),
    ('Pineapple', 420),
    ('Sweet potatoes', 140)
]

mycursor.executemany(sql, val)

mydb.commit()

mycursor = mydb.cursor()

# read

In [17]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase5'
)

mycursor = mydb.cursor()

In [18]:
mycursor.execute("select * from fruits")

In [19]:
for row in mycursor:
    print(row)

(1, 'Mango', 250)
(2, 'Apple', 80)
(3, 'Gauva', 100)
(4, 'Kiwi', 55)
(5, 'Banana', 120)
(6, 'Custard Apple', 140)
(7, 'Pineapple', 420)
(8, 'Sweet potatoes', 140)

In [20]:
mycursor.rowcount

8

# sort 
- where

In [27]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase5'

)

mycursor = mydb.cursor()

In [28]:
mycursor.execute('select * from fruits where price < 100')

In [29]:
for prc in mycursor:
    print(prc)

(2, 'Apple', 80)
(4, 'Kiwi', 55)

In [30]:
mycursor.execute('select * from fruits where price > 100')

In [31]:
for grt in mycursor:
    print(grt)

(1, 'Mango', 250)
(5, 'Banana', 120)
(6, 'Custard Apple', 140)
(7, 'Pineapple', 420)
(8, 'Sweet potatoes', 140)

# update

### update price of Pineapple 400

In [33]:
sql = "update fruits set price = 400 where name = 'Pineapple'"

mycursor.execute(sql)

mydb.commit()

In [34]:
mycursor.execute("select * from fruits")

In [35]:
for row in mycursor:
    print(row)                  # here u can see pineapple value get updated

(1, 'Mango', 250)
(2, 'Apple', 80)
(3, 'Gauva', 100)
(4, 'Kiwi', 55)
(5, 'Banana', 120)
(6, 'Custard Apple', 140)
(7, 'Pineapple', 400)
(8, 'Sweet potatoes', 140)

## you can read only names also

In [36]:
mycursor.execute("select name from fruits")

In [37]:
for names in mycursor:
    print(names)

('Mango',)
('Apple',)
('Gauva',)
('Kiwi',)
('Banana',)
('Custard Apple',)
('Pineapple',)
('Sweet potatoes',)

In [38]:
mycursor.execute("select price from fruits")

In [39]:
mycursor.fetchall()

[(250,), (80,), (100,), (55,), (120,), (140,), (400,), (140,)]

# delete

In [40]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase5'
)

mycursor = mydb.cursor()

mycursor.execute("delete from fruits where name = 'Banana'")

mydb.commit()

In [41]:
mycursor.execute("select * from fruits")

In [42]:
for row in mycursor:
    print(row)      # here u can see that there is no banana which id was 5th.

(1, 'Mango', 250)
(2, 'Apple', 80)
(3, 'Gauva', 100)
(4, 'Kiwi', 55)
(6, 'Custard Apple', 140)
(7, 'Pineapple', 400)
(8, 'Sweet potatoes', 140)

In [43]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase5'
)

mycursor = mydb.cursor()

mycursor.execute("delete from fruits where price = 140")

mydb.commit()

In [45]:
mycursor.execute("select * from fruits")

In [46]:
for row in mycursor: # here 2 fruits which has same price 140 and both are deleted.
    print(row)

(1, 'Mango', 250)
(2, 'Apple', 80)
(3, 'Gauva', 100)
(4, 'Kiwi', 55)
(7, 'Pineapple', 400)

In [1]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase5'

)

mycursor = mydb.cursor()

mycursor.execute("update fruits set name = 'watermelon' where price = 55")

mydb.commit()  # this is necessary to save changes.

In [2]:
mycursor.execute("select * from fruits")

In [3]:
mycursor.fetchall()

[(1, 'Mango', 250),
 (2, 'Apple', 80),
 (3, 'Gauva', 100),
 (4, 'watermelon', 55),
 (7, 'Pineapple', 400)]

In [4]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase5'

)

mycursor = mydb.cursor()

sql = "insert into fruits (name, price) values (%s, %s)"
val = [
    ('Custard Apple', 125),
    ('Coconut', 15),
    ('Lemon', 50),
    ('Orange', 48),
    ('Grapes', 420),
    ('Pomegranate', 500)
]

mycursor.executemany(sql, val)

mydb.commit()

In [5]:
mycursor.execute("select * from fruits")

In [6]:
for row in mycursor:
    print(row)

(1, 'Mango', 250)
(2, 'Apple', 80)
(3, 'Gauva', 100)
(4, 'watermelon', 55)
(7, 'Pineapple', 400)
(9, 'Custard Apple', 125)
(10, 'Coconut', 15)
(11, 'Lemon', 50)
(12, 'Orange', 48)
(13, 'Grapes', 420)
(14, 'Pomegranate', 500)

# sort the result

- use the ORDER BY statement to sort the result ascending or descending order.
- to sort descending order use desc keyword.

In [7]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase5'

)

mycursor = mydb.cursor()

mycursor.execute("select * from fruits order by name")

In [8]:
mycursor.fetchall()

[(2, 'Apple', 80),
 (10, 'Coconut', 15),
 (9, 'Custard Apple', 125),
 (3, 'Gauva', 100),
 (11, 'Lemon', 50),
 (1, 'Mango', 250),
 (12, 'Orange', 48),
 (7, 'Pineapple', 400),
 (14, 'Pomegranate', 500),
 (4, 'watermelon', 55)]

In [9]:
mycursor.execute("select * from fruits order by price")

In [10]:
mycursor.fetchall()

[(10, 'Coconut', 15),
 (12, 'Orange', 48),
 (11, 'Lemon', 50),
 (4, 'watermelon', 55),
 (2, 'Apple', 80),
 (3, 'Gauva', 100),
 (9, 'Custard Apple', 125),
 (1, 'Mango', 250),
 (7, 'Pineapple', 400),
 (14, 'Pomegranate', 500)]

# for descending order

In [11]:
mycursor.execute("select * from fruits order by name desc")

In [12]:
mycursor.fetchall()

[(4, 'watermelon', 55),
 (14, 'Pomegranate', 500),
 (7, 'Pineapple', 400),
 (12, 'Orange', 48),
 (1, 'Mango', 250),
 (11, 'Lemon', 50),
 (3, 'Gauva', 100),
 (9, 'Custard Apple', 125),
 (10, 'Coconut', 15),
 (2, 'Apple', 80)]

### price in descending order

In [13]:
mycursor.execute("select * from fruits order by price desc")

In [14]:
mycursor.fetchall()

[(14, 'Pomegranate', 500),
 (7, 'Pineapple', 400),
 (1, 'Mango', 250),
 (9, 'Custard Apple', 125),
 (3, 'Gauva', 100),
 (2, 'Apple', 80),
 (4, 'watermelon', 55),
 (11, 'Lemon', 50),
 (12, 'Orange', 48),
 (10, 'Coconut', 15)]

# drop table

- to delete existing table

In [15]:
mycursor.execute("show databases")

In [16]:
mycursor.fetchall()

[('courses',),
 ('elephant',),
 ('info',),
 ('information_schema',),
 ('mobiles',),
 ('my_second_database',),
 ('mydatabase',),
 ('mydatabase3',),
 ('mydatabase4',),
 ('mydatabase5',),
 ('mysql',),
 ('peoples',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [23]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'test'

)

mycursor = mydb.cursor()

mydb.commit()

In [24]:
mycursor.execute("show tables")

In [25]:
mycursor.fetchall()

[('result',), ('student',)]

In [26]:
mycursor.execute("select * from result")

In [27]:
mycursor.fetchall()

[('Vikas', '85'), ('Suraj', '90'), ('Raj', '65'), ('Swapnil', '78')]

In [28]:
mycursor.execute("select * from student")

In [29]:
mycursor.fetchall()

[('Vikas', 'SIT'), ('Ganesh', 'DYPATIL')]

In [30]:
mycursor.execute("drop table student") # here student table deleted.

In [31]:
mycursor.execute("show tables")

In [32]:
mycursor.fetchall()

[('result',)]

# drop only if exists

- if table not present or already deleted and to avoid error use if exist keyword after drop table.

In [35]:
mycursor.execute("drop table if exists student")

# limit the result

- you can limit the records by using limit statement

In [36]:
import mysql.connector

mydb = mysql.connector.connect(

host = 'localhost',
user = 'root',
passwd = 'kalevikas@7798',
database = 'mydatabase'

)

mycursor = mydb.cursor()

In [37]:
mycursor.execute("show tables")

In [38]:
mycursor.fetchall()

[('customers',), ('customers1',)]

In [39]:
mycursor.execute("select * from customers")

In [40]:
mycursor.fetchall()

[('Vikas Hanumant Kale', 'Keshegaon,Osmanabad-413506', 1),
 ('Peter', 'Lowstreet 4', 2),
 ('Amy', 'Apple st 652', 3),
 ('Hannah', 'Mountain 21', 4),
 ('Michael', 'Valley 345', 5),
 ('Sandy', 'Ocean blvd 2', 6),
 ('Betty', 'Green Grass 1', 7),
 ('Richard', 'Sky st 331', 8),
 ('Susan', 'One way 98', 9),
 ('Vicky', 'Yellow Garden 2', 10),
 ('Ben', 'Park Lane 38', 11),
 ('William', 'Central st 954', 12),
 ('Chuck', 'Main Road 989', 13),
 ('Viola', 'Sideway 1633', 14),
 ('Vikas', 'Shivaji_Nagar, Pune', 15),
 ('Ram', 'Swargate, Pune', 16),
 ('Ganesh', 'Hinjawadi, Pune', 17),
 ('Vishnu', 'Khadaki, Pune', 18),
 ('Mahesh', 'Hadpsar, Pune', 19),
 ('Vitthal', 'Kondhwa, Pune', 20),
 ('Samarth', 'Chinchwad, Pune', 21),
 ('Pandurang', 'Pimpri, Pune', 22),
 ('Maruti', 'Katraj, Pune', 23),
 ('Rukmini', 'Aundh, Pune', 24),
 ('Lakshaman', 'Pune_station, Pune', 25),
 ('Seeta', 'Chakan, Pune', 26),
 ('Parvati', 'Nigadi, Pune', 27),
 ('Mahadev', 'Bhosari, Pune', 28)]

In [41]:
mycursor.execute("select * from customers limit 5")

In [42]:
mycursor.fetchall()

[('Vikas Hanumant Kale', 'Keshegaon,Osmanabad-413506', 1),
 ('Peter', 'Lowstreet 4', 2),
 ('Amy', 'Apple st 652', 3),
 ('Hannah', 'Mountain 21', 4),
 ('Michael', 'Valley 345', 5)]

# start from another position

In [ ]:
- If you want to return five records, starting from the third record, you can use the "OFFSET" Keywords.

In [43]:
mycursor.execute("select * from customers limit 4 offset 2") # from 2nd position we fetch 4 records.

In [44]:
mycursor.fetchall()

[('Amy', 'Apple st 652', 3),
 ('Hannah', 'Mountain 21', 4),
 ('Michael', 'Valley 345', 5),
 ('Sandy', 'Ocean blvd 2', 6)]

In [47]:
mycursor.execute("select * from customers limit 14 offset 14")

In [48]:
mycursor.fetchall()

[('Vikas', 'Shivaji_Nagar, Pune', 15),
 ('Ram', 'Swargate, Pune', 16),
 ('Ganesh', 'Hinjawadi, Pune', 17),
 ('Vishnu', 'Khadaki, Pune', 18),
 ('Mahesh', 'Hadpsar, Pune', 19),
 ('Vitthal', 'Kondhwa, Pune', 20),
 ('Samarth', 'Chinchwad, Pune', 21),
 ('Pandurang', 'Pimpri, Pune', 22),
 ('Maruti', 'Katraj, Pune', 23),
 ('Rukmini', 'Aundh, Pune', 24),
 ('Lakshaman', 'Pune_station, Pune', 25),
 ('Seeta', 'Chakan, Pune', 26),
 ('Parvati', 'Nigadi, Pune', 27),
 ('Mahadev', 'Bhosari, Pune', 28)]