Write a prgoram to count occurance of int number
num = 1255

OUTPUT: 1 -> 1 2 -> 1 5 -> 2

Don't convert datatype to string.

In [1]:
num=1255
type(num)

int

In [30]:
num=1255

In [31]:
num%10

5

In [32]:
num//10

125

In [22]:
num=1255
occurences=int(input("Enter number which you want to check: ")) # 5
count = 0

while (num >0):  # Loop to find digits of Num.
    if (num % 10 == occurences):  # Check if digit is occurences.
        # For first iteration if we enter occurance as 5 then,
        # 1255%10 = 5 == Occurance is True. 
        
        count = count + 1 # For first iteration count=1,2nd itaration count=2 and so on.
        
    num = num // 10 # For 1st iteration num=1255//10=125,for 2nd iteration num=12,for 3rd iteration num=1 and so on.
print(count)

Enter number which you want to check: 5
2

In [27]:
num=1223455888889221
occurences=int(input("Enter number which you want to check: "))
count = 0

while (num >0):
    if (num % 10 == occurences):
        count = count + 1
    num = num // 10
print(count)

Enter number which you want to check: 2
4

In [28]:
num=1223455888889221
occurences=int(input("Enter number which you want to check: "))
count = 0

while (num >0):
    if (num % 10 == occurences):
        count = count + 1
    num = num // 10
print(count)

Enter number which you want to check: 8
5

In [29]:
num=1223455888889221
occurences=int(input("Enter number which you want to check: "))
count = 0

while (num >0):
    if (num % 10 == occurences):
        count = count + 1
    num = num // 10
print(count)

Enter number which you want to check: 1
2

## write a program to print following output

   *
  * *
 * * *
    
   A
  B C
 D E F

In [35]:
num=int(input("Enter number of rows: "))  # Enter number of rows you want to print. We want 3 rows.num=3

for i in range(0,num): # i in range(0,3); Rows=i=0,1,2 
    
    for j in range(0,num-i-1): # j in range(0,3-0-1)=j in range(0,2); Columns=j=0,1,2
        
        print(end=" ") # print spaces
        
    for j in range(0,i+1): # j in range(0,0+1=1)
        print("*",end=" ") # print(*) and spaces
    print()

Enter number of rows: 3
  *
 * *
* * *

In [6]:
num=int(input("Enter number of rows: "))  # Enter number of rows you want to print. We want 3 rows.num=3

for i in range(0,num): # i in range(0,3); Rows=i=0,1,2 
    
    for j in range(0,num-i-1): # j in range(0,3-0-1)=j in range(0,2); Columns=j=0,1,2
        
        print(end=" ") # print spaces
        
    for j in range(0,i+1): # j in range(0,0+1=1)
        print("A", end="B") # print(*) and spaces
    print()

Enter number of rows: 3
  AB
 ABAB
ABABAB

# Using While loop

In [8]:
num=int(input("Enter number of rows: "))  # take value of number of rows from user and store in num variable.num=3
row=0                                 # Initially row=0
while row<num:           # when row<num if this condition is true then only this loop execute;0<3 is true.
    space=num-row-1     # space=3-0-1=space=2; for 1st row we need 2 spaces.
    while space>0:        # if space>0;then only execute this while loop. 1st iteration space=2,2nd iteration space=1 
        print(end=" ")       # this is used to print spaces 
        space=space-1        # space = 2-1 therefore space=1
    star=row+1               # For 1st iteration row=0,for 2nd row=1,for 3rd row=2
                             # for 1st iteration star=0+1=1,then star=1+1=2,then star=2+1=3.
    
    while star>0:          # when star>0 the only this loop execute.1st iteration star=3.
        print("*",end=" ") # print * and space
        star=star-1        # star=1-1=0;star=0 here again it goes to check while star>0 or not 
    row=row+1            # row=0+1;row= 1
    print()            # This is for new line.

Enter number of rows: 3
  *
 * *
* * *

In [11]:
num=int(input("Enter number of rows: "))
row=0
while row<num:
    space=num-row-1
    while space>0:
        print(end=" ")
        space=space-1
    star=row+1
    while star>0:
        print("*",end=" ")
        star=star-1
    row=row+1
    print()

Enter number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [1]:
for i in range(1,6):
    for j in range(6,0,-1):
        if j >i:
            print(i,end=" ")
        else:
            print(" ",end=" ")
    print("")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [1]:
for i in range(6,0,-1):
    print(i)

6
5
4
3
2
1

In [4]:
for i in range(1,6):
    for j in range(1,6):
        if j >i:
            print(" ",end=" ")
        else:
            print(i,end=" ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
for i in range(1,6):
    for j in range(1,6):
        if j >i:
            print(i,end=" ")
        else:
            print(" ",end=" ")
    print("")

  1 1 1 1
    2 2 2
      3 3
        4

In [ ]:
for i in range(65,97)

In [8]:
chr(65)

'A'

In [12]:
rows=3
w=(2*rows)-2

for i in range(0,rows):
    for j in range(0,w):
        print(end="")
    w=w-2
    for k in range(0,i+1):
        print("*",end="")
    print('')

*
**
***

In [13]:
rows = 3
w = (2 * rows) - 2 

for i in range(0, rows):
    for j in range(0, w):
        print(end=' ')
    w = w - 2
    for k in range(0, i+1):
        print(" * ", end=' ')
    print('')

     *
   *   *
 *   *   *

In [14]:
result = lambda num : 'Input value is not valid - %s'%(num) if type(num)!=int else('even - %d'%(num) if num%2 == 0 else 'odd - %d'%(num))

In [15]:
result(10)

'even - 10'

In [16]:
result(11)

'odd - 11'

In [17]:
result('vikas')

'Input value is not valid - vikas'

In [18]:
result('@')

'Input value is not valid - @'

In [ ]:
result=lambda num : "Input value is not valid-%s"%(num) if num<5 else 'even-%d'%d(num%2==0)

In [19]:
['not valid datatype - %s'%(i) if type(i) !=int else ('even -%d'%(i) if i%2== 0 else 'odd - %d'%(i)) for i in [1,2,3,6.66,4,'a',5,6]]

['odd - 1',
 'even -2',
 'odd - 3',
 'not valid datatype - 6.66',
 'even -4',
 'not valid datatype - a',
 'odd - 5',
 'even -6']

In [22]:
['not valid datatype - %s'%(i) if type(i) !=int else ('%d is even'%(i) if i%2== 0 else 'odd - %d'%(i)) for i in [1,84,3,6.66,4,'a',5,6]]

['odd - 1',
 '84 is even',
 'odd - 3',
 'not valid datatype - 6.66',
 '4 is even',
 'not valid datatype - a',
 'odd - 5',
 '6 is even']

In [19]:
rows=10
w=(2*rows)-2
for i in range(0,rows):
    for j in range(0, w):
        print(end=' ')
    w=w-2
    for k in range(0,i+1):
        print(" * ",end= " ")
    print("")

                   *
                 *   *
               *   *   *
             *   *   *   *
           *   *   *   *   *
         *   *   *   *   *   *
       *   *   *   *   *   *   *
     *   *   *   *   *   *   *   *
   *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *

In [26]:
rows=8
w=(2*rows)-2
for i in range(0,rows):
    for j in range(0,w):
        print(end=" ")
    w=w-2
    for k in range(0,i+1):
        print(chr(i),end=" ")
    print()

               
             
            
           
          
         
        
       

In [38]:
rows=8
w=(2*rows)-2
for i in range(0,rows):
    for j in range(0,w):
        print(end=" ")
    w=w-2
    for k in range(65,78):
        
        
        print(chr(k),end=" ")
    print("")

              A B C D E F G H I J K L M
            A B C D E F G H I J K L M
          A B C D E F G H I J K L M
        A B C D E F G H I J K L M
      A B C D E F G H I J K L M
    A B C D E F G H I J K L M
  A B C D E F G H I J K L M
A B C D E F G H I J K L M

In [48]:
rows=8
w=(2*rows)-2
for i in range(0,rows):
    for j in range(0,w):
        print(end=" ")
    w=w-2
    for k in range(65,70):
        print(chr(k),end=" ")
        

    print(" ")

              A B C D E
            A B C D E
          A B C D E
        A B C D E
      A B C D E
    A B C D E
  A B C D E
A B C D E

In [59]:
rows=3
w=(2*rows)-2
for i in range(0,rows):
    for j in range(0, w):
        print(end=' ')
    w=w-2
    for k in range(65,69):
        print("\t",chr(k),end='')
    print("")

    	 A	 B	 C	 D
  	 A	 B	 C	 D
	 A	 B	 C	 D

In [82]:
rows=3
w=(2*rows)-2
for i in range(0,rows):
    for j in range(0, w):
        print(end=' ')
    w=w-2
    for k in range(65,69):
        for m in range(0,i+1):
            
            print(chr(k),end=" ")
    print("")

    A B C D
  A A B B C C D D
A A A B B B C C C D D D

In [94]:
rows=3
w=(2*rows)-2
for i in range(0,rows):
    for j in range(0, w):
        print(end=' ')
    w=w-2
    for k in range(65,69):
        for m in range(0,i+1):
            
            print(chr(k),end=" ")
    print("")

    A B C D
  A A B B C C D D
A A A B B B C C C D D D

In [7]:
for i in range(1,6):
    for j in range(6,0,-1):
        if j > i:
            print(i,end=" ")
        else:
            print(' ',end='')
    print()
for k in range(6,0,-1):
    for i in range(1,6):
        if i > k:
            print(k,end=' ')
        else:
            print(' ',end='')
            
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5


    4
   3 3
  2 2 2
 1 1 1 1

In [12]:
for k in range(8,0,-1):
    for i in range(1,9):
        if i > k:
            print(i-1,end=' ')
        else:
            print(' ',end='')
            
    print()

       7
      6 7
     5 6 7
    4 5 6 7
   3 4 5 6 7
  2 3 4 5 6 7
 1 2 3 4 5 6 7

In [15]:
for k in range(10,0,-1):
    for i in range(1,10):
        if i > k:
            print(i+1,end=' ')
        else:
            print(' ',end='')
            
    print()

        10
       9 10
      8 9 10
     7 8 9 10
    6 7 8 9 10
   5 6 7 8 9 10
  4 5 6 7 8 9 10
 3 4 5 6 7 8 9 10

In [21]:
n=int(input("Enter number of rows:"))

for i in range(n):
    for j in range(4):
        print('*',end=' ')
        
    print()

Enter number of rows:5
* * * *
* * * *
* * * *
* * * *
* * * *

In [29]:
x={}
print(type(x))

<class 'dict'>

In [30]:
x={}

In [31]:
type(x)

dict

In [32]:
x=set()

In [33]:
type(x)

set

# 1) Simple number triangle pattern

Pattern:

1  

2 2  

3 3 3  

4 4 4 4  

5 5 5 5 5

In [3]:
rows=5
for i in range(1,rows+1):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

## reverse

In [4]:
rows=5
for i in range(rows,0,-1):
    for j in range(i):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

# 2) Inverted Pyramid of Numbers

Pattern:

1 1 1 1 1 

2 2 2 2 

3 3 3 

4 4 

5

In [18]:
rows=5
b=0    # b=1,2,3,4,5
for i in range(rows,0,-1): # i=5,4,3,2,1
    b+=1
    for j in range(1,i+1): # columns 
        print(b,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [19]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1